<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<header >
    <div class="header-content w3-row">
      <div class="w3-col m6  w3-hide-small" style="padding-left: 30px;">
        <img src="img/profile.jpg" alt="" class="w3-round w3-hover-grayscale" width="300" >
      </div>
      <div class="header-content-inner w3-col  w3-hide-small m6" style="padding-left: 50px;" >
            <h1>Hello</h1>
            <h2>I am Nicholas Murray</h2>
            <hr>
            <p>a mature Software Design student with a passion for creativity, education and new challenges</p>
            <!--  <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>-->
      </div>
      <div class="header-content-small w3-col w3-hide-large w3-hide-medium m6">
            <h1>Hello</h1>
            <h2>I am Nicholas Murray</h2>
            <hr>
            <p>a mature Software Design student with a passion for creativity, education and new challenges</p>
            <!--  <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>-->
      </div>
    </div>
</header>
