<section class="no-padding" id="portfolio">
    <div class="container-fluid w3-blue-grey">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6 portfolio-box w3-dropdown-hover w3-dropdown-click">
                    <img src="img/portfolio/E51Feature.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Games
                            </div>
                            <div class="project-name">
                                Escape 51
                            </div>
                        </div>
                    </div>
                    <div id="portfolio-dropdown"class="w3-dropdown-content">
                      <p>Escape 51 is an endless runner / non stop shooter for Android available in the play store. You must use your laser canon to navigate your way through the randomly generated levels and get the highest score! There is multiple pickups to help you throughout the game. Check it out <a href="https://play.google.com/store/apps/details?id=com.NotMyGames.Escape51" style= "color:rgb(0, 255, 33)"> here </a> in the android Play Store</p>
                    </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-box w3-dropdown-hover w3-dropdown-click">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Games
                            </div>
                            <div class="project-name">
                                Portal Knight
                            </div>
                        </div>
                    </div>
                    <div id="portfolio-dropdown"class="w3-dropdown-content">
                      <p>Portal Knight is an endless platformer with a twist! The platforms are circular, and expand and rotate away from the centre points. Portal Knight was the inspiration for the Circle Renderer tool I created in unity. Check out portal knight <a href="https://github.com/NickyMurray/PortalKnight#portalknight" style= "color:rgb(0, 255, 33)"> here </a> </p>
                    </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-box w3-dropdown-hover w3-dropdown-click">
                    <table>
                      <tr>
                        <td><img src="img/Circle Renderer(1).jpg" class="img-responsive" alt=""></td>
                        <td><img src="img/Circle Renderer(2).jpg" class="img-responsive" alt=""></td>
                      </tr>
                    </table>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Unity Tool
                            </div>
                            <div class="project-name">
                                Circle Renderer
                            </div>
                        </div>
                    </div>
                    <div id="portfolio-dropdown"class="w3-dropdown-content">
                      <p>Circle Renderer is a Unity Editor extension that extends the line renderer component to draw circles and many other shapes. The tool also gives you the ability to add an Edge Collider to the generated shapes.</p>
                    </div>
            </div>

        </div>
    </div>
</section>
